
@font-face {font-family: "ion-aiya";
  src: url('iconfont.eot?t=1481780764204'); /* IE9*/
  src: url('iconfont.eot?t=1481780764204#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481780764204') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481780764204') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481780764204#iconfont') format('svg'); /* iOS 4.1- */
}

.ion-aiya {
  font-family:"ion-aiya" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingbu:before { content: "\e600"; }

.icon-QQ:before { content: "\e617"; }

.icon-icon:before { content: "\e62a"; }

.icon-purse:before { content: "\e60e"; }

.icon-yanjing:before { content: "\e612"; }

.icon-icon4:before { content: "\e601"; }

.icon-guanbi:before { content: "\e618"; }

.icon-youhui:before { content: "\e602"; }

.icon-fanhui:before { content: "\e61a"; }

.icon-xitongzengjia:before { content: "\e614"; }

.icon-jian:before { content: "\e613"; }

.icon-shanchu:before { content: "\e61d"; }

.icon-fenxiang:before { content: "\e603"; }

.icon-sousuo:before { content: "\e604"; }

.icon-jian1:before { content: "\e61b"; }

.icon-daifahuo:before { content: "\e60f"; }

.icon-zengjia:before { content: "\e61c"; }

.icon-wodedingdan03:before { content: "\e631"; }

.icon-xiaomeifenlei:before { content: "\e605"; }

.icon-daishouhuo:before { content: "\e610"; }

.icon-x:before { content: "\e619"; }

.icon-zhaohuo2normal:before { content: "\e606"; }

.icon-xiaogougou:before { content: "\e615"; }

.icon-yanjingkejian:before { content: "\e61e"; }

.icon-home:before { content: "\e608"; }

.icon-shoucang:before { content: "\e609"; }

.icon-fenlei:before { content: "\e60a"; }

.icon-weibiaoti1:before { content: "\e637"; }

.icon-dian:before { content: "\e616"; }

.icon-caigoudan:before { content: "\e60b"; }

.icon-xiasanjiaoxing-copy:before { content: "\e61f"; }

.icon-tooth:before { content: "\e60d"; }

.icon-shoucang1:before { content: "\e60c"; }

.icon-daipingjia01:before { content: "\e611"; }

.icon-caigoudan02:before { content: "\e638"; }

.icon-chiyanshe03:before { content: "\e607"; }

.icon-shouye03:before { content: "\e62b"; }

.icon-wo03:before { content: "\e62c"; }

.icon-wo:before { content: "\e629"; }

.icon-xiaoshoucuxiao:before { content: "\e67a"; }

.icon-cf-c25:before { content: "\e62f"; }

.icon-xiasanjiaoxing-copy-copy:before { content: "\e620"; }

.icon-iconfontclose01:before { content: "\e636"; }

.icon-802:before { content: "\e621"; }

.icon-702:before { content: "\e622"; }

.icon-602:before { content: "\e623"; }

.icon-502:before { content: "\e624"; }

.icon-402:before { content: "\e625"; }

.icon-3102:before { content: "\e626"; }

.icon-2202:before { content: "\e627"; }

.icon-302:before { content: "\e628"; }

.icon-qian:before { content: "\e635"; }

.icon-pingxing01:before { content: "\e62d"; }

.icon-pingxingbanke201:before { content: "\e62e"; }

.icon-gengduo:before { content: "\e630"; }

.icon-logo02:before { content: "\e632"; }

.icon-zhankai03:before { content: "\e633"; }

.icon-shouqi03:before { content: "\e634"; }

.icon-fenlei1:before { content: "\e682"; }

.icon-icon-test1:before { content: "\e64f"; }

.icon-zhong:before { content: "\e650"; }

.icon-biaoqian:before { content: "\e651"; }
.icon-cu-:before { content: "\e655"; }

.icon-cu-:before { content: "\e655"; }

